    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>¿Estás seguro de que deseas eliminar este producto?</p>
            <button id="confirmDeleteBtn">Confirmar</button>
            <button id="cancelDeleteBtn">Cancelar</button>
        </div>
    </div>
    <script src="/static/javascripts/eliminarProducto.js" type="module"></script>