<header>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark px-3 flex-column">
        <div class="container-fluid align-items-center justify-content-sm-center">
            <a href="/" id="brand-home-button" class="navbar-brand">Catalogo</a>
            {{>searchBox}}
            {{>createModal}}
        </div>
        <div class="row justify-content-start text-left" id="botones">
            <!-- Botones -->
            <a href="/administration" class="btn btn-primary mt-3 ml-3">Administrar</a>
            <a href="/signIn" class="btn btn-primary mt-3 ml-3">Iniciar Sesión</a>
        </div>
    </nav>
</header>
