<header>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark px-3">
        <div class="container-fluid align-items-center justify-content-sm-center">
            <a href="/" class="navbar-brand">Catalogo</a>
            {{>searchBox}}
            {{>createModal}}
        </div>
    </nav>
</header>