<nav>
    <ul class="pagination pageList">
        <li class="page-item previousPageEl">
            <a class="page-link" href="#">Ant</a>
        </li>
        <li class="page-item nextPageEl">
            <a class="page-link" href="#">Sig</a>
        </li>
    </ul>
</nav>