  <script src="/static/javascripts/catalogDOMManip.js" type="module"></script>
  <script src="/static/javascripts/populateCatalog.js" type="module"></script>
  <script src="/static/javascripts/createProduct.js" type="module"></script>

{{>navBar}}

<main class="flex-shrink-0 pt-3">
  <div class="container">
    {{>pageList}}
    {{>catalog}}
    {{>pageList}}
  </div>
</main>

{{>footer}}