<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" class="form-control" required>
                </div>
                
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripción:</label>
                    <textarea id="descripcion" name="descripcion" rows="4" class="form-control" required></textarea>
                </div>
                
                <div class="mb-3">
                    <label for="precio" class="form-label">Precio:</label>
                    <input type="number" id="precio" name="precio" step="0.01" class="form-control" required>
                </div>
                
                <div class="mb-3">
                    <label for="cantidad" class="form-label">Cantidad:</label>
                    <input type="number" id="cantidad" name="cantidad" class="form-control" required>
                </div>
                
                <div class="mb-3">
                    <label for="imagen" class="form-label">Imagen:</label>
                    <input type="file" id="imagen" name="imagen" class="form-control" required>
                </div>
<<<<<<< Updated upstream
                
                <button type="submit" class="btn btn-primary">Actualizar Producto</button>
            </form>
=======
                <div class="col-md-6">
                    <label for="precio" class="form-label">Etiqueta</label>
                    <select class="form-select" aria-label="Default select example" id="select"> </select>
                </div>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">
                    Eliminar Producto
                </button>
                {{>eliminarProducto}}
                <a href="/"><button type="" class="btn btn-warning mr-5">Volver a Catalogo</button></a>
                <button type="submit" id="sumbitUpdate" class="btn btn-primary">Actualizar Producto</button>
            </div>
>>>>>>> Stashed changes
        </div>
    </div>
</div>
