<div id="formulario-registro" class="registro-form" style="display: none;">
    <h2>Registro de Usuario</h2>
    <input type="text" id="nombre" placeholder="Nombre">
    <input type="text" id="usuario" placeholder="Usuario">
    <input type="password" id="contraseña" placeholder="Contraseña">
    <input type="checkbox" id="is_admin">
    <label for="is_admin">¿Es administrador?</label>
    <button onclick="registrarUsuario()">Registrarse</button>
    <p id="mensaje"></p>
    
</div>
<script src="/static/javascripts/register.js"></script>
