<!-- registro -->
<h2>Registro de Usuario</h2>
<div class="registro-form">
    <input type="text" id="nombre" name="nombre" placeholder="Nombre">
    <input type="text" id="usuario" name="usuario" placeholder="Usuario">
    <input type="email" id="correo" name="correo" placeholder="ies@gmail.com">
    <div class="password-container">
        <input type="password" id="contrase침a" name="contrase침a" placeholder="Contrase침a">
        <button type="button" id="togglePassword">Mostrar</button>
    </div>
    <button type="button" id="button-registro">Registrarse</button>
    <p id="mensaje"></p>
</div>
<link rel="stylesheet" href="/static/stylesheets/register.css"> <!-- Vinculaci칩n al archivo style.css -->
<script src="/static/javascripts/register.js" type="module"></script>