body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/* Modificamos el estilo de la lista */
#tag-list {
  list-style-type: none; /* Quitamos los puntos de la lista */
  padding: 0; /* Quitamos el espacio de relleno */
  margin: 0; /* Quitamos el margen */
}

/* Modificamos el estilo de los elementos de la lista */
.tag-list-item {
  display: inline-block; /* Mostrar como bloque en línea */
  margin-right: 10px; /* Margen derecho entre elementos */
}

/* Estilo de los botones de categorías */
.tag-button {
  background-color: #4caf50; /* Color de fondo */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espacio de relleno */
  text-align: center; /* Alinear texto al centro */
  text-decoration: none; /* Sin subrayado */
  font-size: 16px; /* Tamaño de la fuente */
  cursor: pointer; /* Cursor apuntador */
  border-radius: 8px; /* Radio de borde para bordes redondeados */
}

.tag-button:hover {
  background-color: #45a049; /* Cambiar color de fondo al pasar el mouse */
}

.tag-button:active {
  background-color: #367a38; /* Cambiar color de fondo al hacer clic */
}

/*Css del registro*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.registro-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.registro-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.registro-form input,
.registro-form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.registro-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.registro-form button:hover {
  background-color: #0056b3;
}

/* Añadimos estilos para el botón de visualización de contraseña */
.password-container {
  position: relative;
}

.password-container input {
  width: calc(100% - 32px);
  margin-bottom: 10px;
}

.password-container button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
}


/*css del inicio de sesion*/
.login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form input,
.login-form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}
