body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('static/images/fondo-test.jpg');
  background-size: cover; /* Para cubrir todo el cuerpo */
  background-repeat: no-repeat; /* Para que no se repita la imagen */
}

a {
  color: #00B7FF;
}
/* Modificamos el estilo de la lista */
#tag-list {
  list-style-type: none; /* Quitamos los puntos de la lista */
  padding: 0; /* Quitamos el espacio de relleno */
  margin: 0; /* Quitamos el margen */
}

/* Modificamos el estilo de los elementos de la lista */
.tag-list-item {
  display: inline-block; /* Mostrar como bloque en línea */
  margin-right: 10px; /* Margen derecho entre elementos */
}




