body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/static/images/background1.jpg');
  background-size: 100% 100%; /* Ajusta el tamaño de la imagen al 100% del ancho y alto de la página */
  background-repeat: no-repeat; /* Para que no se repita la imagen */
  margin: 0; /* Elimina los márgenes predeterminados */
  padding: 0; /* Elimina los rellenos predeterminados */
}


a {
  color: #00B7FF;
}
/* Modificamos el estilo de la lista */
#tag-list {
  list-style-type: none; /* Quitamos los puntos de la lista */
  padding: 0; /* Quitamos el espacio de relleno */
  margin: 0; /* Quitamos el margen */
}

/* Modificamos el estilo de los elementos de la lista */
.tag-list-item {
  display: inline-block; /* Mostrar como bloque en línea */
  margin-right: 10px; /* Margen derecho entre elementos */
}




